## Read the data

From path ../../CGED DATA/CGED-Q for Peter and Hongsu with person_id - August 31 2022.csv

In [1]:
import pandas as pd
FILE_PATH = "../../CGED DATA/CGED-Q for Peter and Hongsu with person_id - August 31 2022.csv"
df = pd.read_csv(FILE_PATH, sep="\t")
print(df.shape)
df.head()

c:\Users\sudos\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3526: DtypeWarning: Columns (0,1,2,3,4,5,6,7,9,10,11,13,18,22,24,25,26,30,31,32,38,39,40,41,42,43,44,45,46,47,50) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(4433647, 54)

,year,season,xuhao,interpol,record_number,jicheng_hao,juanhao,cehao,shuming,banben,...,quanxuan_yue,quanxuan_fangshi,juewei,shuoming,assigned_edition,first_in_edition,xuanren_fangshi,banben_nianhao,banben_jijie,person_id
0,1760.75,4,1,0,1,1,1,3,滿漢縉紳全書,同陞閣,...,NaN,NaN,和硕简亲王,清华版,乾隆25冬.xlsx,1.0,NaN,乾隆,冬,NaN
1,1760.75,4,2,0,2,1,1,3,滿漢縉紳全書,同陞閣,...,NaN,NaN,和硕荘亲王,PDF頁碼294檔頁碼263开始,乾隆25冬.xlsx,0.0,NaN,乾隆,冬,NaN
2,1760.75,4,3,0,3,1,1,3,滿漢縉紳全書,同陞閣,...,NaN,NaN,多罗理郡王,NaN,乾隆25冬.xlsx,0.0,NaN,乾隆,冬,NaN
3,1760.75,4,4,0,4,1,1,3,滿漢縉紳全書,同陞閣,...,NaN,NaN,奉恩辅国公,NaN,乾隆25冬.xlsx,0.0,NaN,乾隆,冬,1.760400e+11
4,1760.75,4,5,0,5,1,1,3,滿漢縉紳全書,同陞閣,...,NaN,NaN,奉恩辅国公,NaN,乾隆25冬.xlsx,0.0,NaN,乾隆,冬,1.760400e+11

### Drop the obvious error data

- Don't have personid
- Don't have person name
- Don't have official title

In [2]:
# The percentage of the data that are NaN in personid
personid_nan_percentage = df["person_id"].isna().sum() / len(df) * 100
print(f"Percentage of NaN in person_id: {personid_nan_percentage:.2f}%")

Percentage of NaN in person_id: 7.33%

In [3]:
# The percentage of the data that are NaN in xing
xing_nan_percentage = df["xing"].isna().sum() / len(df) * 100

# The percentage of the data that are either "空白" or NaN in xing and ming
ming_nan_percentage = ((df["ming"].apply(lambda x: x == "空白") | df["ming"].isna())).sum() / len(df) * 100


print(f"Percentage of NaN in xing: {xing_nan_percentage:.2f}%")
print(f"Percentage of NaN in ming: {ming_nan_percentage:.2f}%")

Percentage of NaN in xing: 25.51%
Percentage of NaN in ming: 6.38%

In [4]:
# The percentage of the data that are NaN in guanzhi
guanzhi_nan_percentage = df["guanzhi"].isna().sum() / len(df) * 100

print(f"Percentage of NaN in guanzhi: {guanzhi_nan_percentage:.2f}%")

Percentage of NaN in guanzhi: 3.79%

In [5]:
# Drop: 
# 1. Rows with NaN in person_id
# 2. Rows with NaN in xing
# 3. Rows with either "空白" or NaN in ming
# 4. Rows with NaN in guanzhi

df = df.dropna(subset=["person_id", "xing", "ming", "guanzhi"])
df = df[df['ming'] != "空白"]
print(df.shape)
df.head()

(3188653, 54)

,year,season,xuhao,interpol,record_number,jicheng_hao,juanhao,cehao,shuming,banben,...,quanxuan_yue,quanxuan_fangshi,juewei,shuoming,assigned_edition,first_in_edition,xuanren_fangshi,banben_nianhao,banben_jijie,person_id
6,1760.75,4,7,0,7,1,1,3,滿漢縉紳全書,同陞閣,...,NaN,NaN,NaN,NaN,乾隆25冬.xlsx,0.0,NaN,乾隆,冬,1.760400e+11
11,1760.75,4,12,0,12,1,1,3,滿漢縉紳全書,同陞閣,...,NaN,NaN,NaN,NaN,乾隆25冬.xlsx,0.0,NaN,乾隆,冬,1.760400e+11
12,1760.75,4,13,0,13,1,1,3,滿漢縉紳全書,同陞閣,...,NaN,NaN,NaN,NaN,乾隆25冬.xlsx,0.0,NaN,乾隆,冬,1.760400e+11
24,1760.75,4,25,0,25,1,1,3,滿漢縉紳全書,同陞閣,...,NaN,NaN,NaN,NaN,乾隆25冬.xlsx,0.0,NaN,乾隆,冬,1.760400e+11
53,1760.75,4,54,0,54,1,1,3,滿漢縉紳全書,同陞閣,...,NaN,NaN,NaN,NaN,乾隆25冬.xlsx,0.0,NaN,乾隆,冬,1.760400e+11

## Explore last name patterns

- Count the unique values of last name
- Confirmed that there are no Manchu, Mongol, or other racial last names
- Clean the problematic last names

In [6]:
# count the number of unique last names, and get the frequency of each last name
last_name_freq = df["xing"].value_counts()
print(f"Number of unique last names: {len(last_name_freq)}")
print(last_name_freq)

Number of unique last names: 1723
王    209751
張    195283
李    190457
陳    151719
劉    135144
      ...
效         1
荁         1
寿         1
妥         1
接         1
Name: xing, Length: 1723, dtype: int64

In [8]:
# count the number of unique last names, and get the frequency of each last name for the length of last name >= 2
last_name_freq = df[df["xing"].apply(lambda x: len(x) >= 2)]["xing"].value_counts()
print(f"Number of unique last names with length >= 2: {len(last_name_freq)}")
print(last_name_freq)

# Save this result to a excel file
last_name_freq.to_excel("last_name_freq.xlsx")

Number of unique last names with length >= 2: 108
歐陽     5301
司徒      901
上官      476
諸葛      444
司馬      243
       ...
唐仁植       1
番范        1
孫夀域       1
淳于        1
淸？        1
Name: xing, Length: 108, dtype: int64

In [15]:
# Clean the last name errors

err_last_names = ["許鄧", "（氵畨）", "王余", "不详", "汪張", "（严敢）", "（氵+麥）", "（氵+麥）", 
                  "江南", "徐楊", "（鮮+于）", "（王+冬）", "雷石", "（龺+卜）", "湀江", "（王冬）", 
                  "（辶彔）", "覺羅", "鄧汪", "？？", "（夃+木）", "世襲", "釒+？", "平安", "斐凌阿巴圖魯",
                  "？孫", "門/次", "（氵菐）", "（氵麥）", "（棥心）", "空白", "宋？輝", "（冫麦）", 
                  "何？", "司走", "程煕", "田？？", "東？", "曾？山", "赵逢", "陸文鑄", "羅上", "許彭", 
                  "（亯阝）", "馮宣", "（角包）", "（艹+維）", "（氵+？）", "系統", "作爲", "周0", 
                  "富勒", "甘晉", "氵+？", "門+？", "？+刂", "言+？", "辶+呙", "邱家", "姜宇", 
                  "公元", "安詩", "世襲輕車都尉濟拉固勒特依巴圖魯", "？僧額巴圖魯", "（氵+菐）", 
                  "（單斤）", "恆瑞", "金祜", "唐仁植", "番范", "孫夀域", "淸？"]

replace_dict = {"湻于）": "淳于", "欧阳":"歐陽", "南宫":"南宮", "欧陽":"歐陽", "皇浦":"皇甫",
                "黃浦":"皇甫","诸葛":"諸葛", "东野":"東野", "完颜":"完顏", "暮榮":"慕容", 
                "湻于":"淳于",}

df_cleaned = df.replace({"xing": replace_dict})
df_cleaned = df_cleaned[~df_cleaned["xing"].isin(err_last_names)]
print(df_cleaned.shape)

(3188339, 54)

In [16]:
# count the number of unique last names, and get the frequency of each last name for the length of last name >= 2
last_name_freq = df_cleaned[df_cleaned["xing"].apply(lambda x: len(x) >= 2)]["xing"].value_counts()
print(f"Number of unique last names with length >= 2: {len(last_name_freq)}")
print(last_name_freq)

Number of unique last names with length >= 2: 29
歐陽    5316
司徒     901
上官     476
諸葛     445
司馬     243
皇甫     206
端木     172
東野     143
呼延     136
顓孫      82
鮮于      47
令狐      31
公孫      29
司空      28
淳于      21
澹台      12
軒轅      11
安平       9
慕榮       6
仲孫       5
南宮       4
太史       2
宇文       2
澹臺       2
完顏       2
慕容       1
第五       1
夏侯       1
完顔       1
Name: xing, dtype: int64

## Remove the records in name, office columns that includes ?